
.chat-principal{
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  background: rgb(66, 180, 255);
  height: 97vh;
  width: 50vw;
  padding: 0 0 10px 0;
}
.chat-principal-exibicao{
  width: 50vw;
  height: 97vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.chat-principal-conversa{
  display: flex;
  flex-direction: column;
  justify-content: end;
  list-style-type: none;
  width: 49vw;
  min-height: 90vh;
}
.chat-principal-conversa li{
  display: flex;
  width: 100%;
  height: 70px;
  margin: 20px 0px 50px 0px;
}

.chat-principal-conversa li p{
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 400px;
  height: 100%;
  text-align: center;
  background: #ffff;
  border-radius: 20px;
  padding: 5px 5px 5px 5px;
  margin: 20px 140px 50px 140px;
}

.chat-principal-conversa li:nth-child(odd){
  justify-content: flex-end;
}

/* Aplicar css de 2 em 2 mensagens, equivalentes a resposta do usuário */
.chat-principal-conversa li:nth-child(even){
  color: green;
  justify-content: flex-start;
}

.chat-principal-conversa li:nth-child(odd) p{
  border-radius: 20px 20px 0 20px;
}

.chat-principal-conversa li:nth-child(even) p{
  border-radius: 20px 20px 20px 0px;
}

#formulario-padrao{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 5%;
  margin: 0px 0px 10px 0px;
}
#formulario-experiencia{
  display: none;
  justify-content: center;
  width: 100%;
  height: 5%;
  margin: 0px 0px 10px 0px;
}



#chat-principal-texto{
  background: rgb(235, 235, 235);
  border-radius: 10px 10px 10px 10px;
  font-size: 20px;
  width: 420px;
  height: 35px;
  margin: 0px 10px 0px 0px;
}
#chat-principal-texto:hover{
  background: white;
}
#chat-principal-texto:focus{
  background: white;
}

#chat-principal-button{
  border-radius: 10px;
  height: 35px;
  width: 150px;
}

.icone-usuario{
  position: absolute;
  left: 3%;
  bottom: 12%;
  height: 100px;
  width: 100px;
  background: gray ;
  border-radius: 50%;
}

.icone-assistente{
  position: absolute;
  position: absolute;
  right: 3%;
  bottom: 12%;
  height: 100px;
  width: 100px;
  background: gray ;
  border-radius: 50%;
}

