
.chat-principal{
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  background: rgb(66, 180, 255);
  height: 97vh;
  width: 50vw;
  padding: 0 0 10px 0;
}
.chat-principal-exibicao{
  width: 50vw;
  height: 97vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.chat-principal-conversa{
  display: flex;
  flex-direction: column;
  justify-content: end;
  list-style-type: none;
  width: 49vw;
  /* min heigh é a altura que os elementos li vão estar */
  min-height: 82vh;
  /* margin bottom é a altura que vão estar após o tamanho da ol ultrapassar o tamanho do chat */
  margin-bottom: 80px;
}

.chat-principal-conversa li{
  display: flex;
  width: 100%;
  height: 70px;
  margin: 20px 0px 50px 0px;
}

.chat-principal-conversa li p{
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 400px;
  height: 100%;
  text-align: center;
  background: #ffff;
  border-radius: 20px;
  padding: 5px 5px 5px 5px;
  margin: 20px 140px 50px 140px;
}

.chat-principal-conversa li:nth-child(odd){
  justify-content: flex-start;
}

/* Aplicar css de 2 em 2 mensagens, equivalentes a resposta do usuário */
.chat-principal-conversa li:nth-child(even){
  color: green;
  justify-content: flex-end;
}

.chat-principal-conversa li:nth-child(odd) p{
  border-radius: 20px 20px 20px 0px;
}

.chat-principal-conversa li:nth-child(even) p{  
  border-radius: 20px 20px 0 20px;
}

#formulario-padrao{
  display: flex;
  justify-content: center;
}

#formulario-habilidades{
  display: none;
  justify-content: center;
}

.formulario-simples{
  width: 100%;
  height: 5%;
  margin: 0px 0px 10px 0px;
}

#formulario-experiencia{
  display: none;
  grid-template-columns: auto auto; /* 2 colunas */
  grid-template-rows: auto auto; /* 2 linhas */
  justify-content: space-around;
  align-items: center;
  width: 700px;
  height: 700px;
  margin: 0px 0px 10px 0px;
  padding: 15px;
  background: rgb(201, 201, 201);
}

#formulario-formacao{
  display: none;
}

.div-descricao-experiencia{
  grid-column: span 2;
}

#descricao-currilo{
  font-size: 15px;
  width: 100%;
}


.div-input-experiencia{
 height: 40px;
 width: 250px;
}

.div-input-experiencia-data{
  height: 40px;
  width: 250px;
}

.div-input-experiencia-data input{
  width: 40px;
  font-size: 15px;
  height: 40px;
}

.div-input-experiencia input{
  width: 100%;
  font-size: 15px;
  height: 40px;
}

.div-input-experiencia button{
  width: 150px;
  height: 30px;

}

#chat-principal-button-adicionar{
  background: rgb(25, 182, 25);
}

#chat-principal-button-avancar{
  background: rgb(68, 149, 255);
}

#div-buttons-experiencia{
  display: flex;
  justify-content: space-around;
  width: 100%;
  grid-column: span 2;
}

.input-simples{
  background: rgb(235, 235, 235);
  border-radius: 10px 10px 10px 10px;
  font-size: 20px;
  width: 420px;
  height: 35px;
  margin: 0px 10px 0px 0px;
}

.input-simples:hover{
  background: white;
}
.input-simples:focus{
  background: white;
}

.button-simples{
  border-radius: 10px;
  height: 35px;
  width: 150px;
}

.icone-usuario{
  position: absolute;
  left: 3%;
  bottom: 12%;
  height: 100px;
  width: 100px;
  background: gray ;
  border-radius: 50%;
}

.icone-assistente{
  position: absolute;
  position: absolute;
  right: 3%;
  bottom: 12%;
  height: 100px;
  width: 100px;
  background: gray ;
  border-radius: 50%;
}

