
.chat-principal{
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  background: rgb(66, 180, 255);
  height: 95vh;
  width: 80vw;
  padding: 0 0 10px 0;
}
.chat-principal-exibicao{
  width: 70%;
  height: 95%;
 }

.chat-principal-conversa{
  display: flex;
  flex-direction: column;
  justify-content: end;
  list-style-type: none;
  width: 100%;
  height: 100%;
}
.chat-principal-conversa li{
  display: flex;
  width: 100%;
  height: 70px;
  margin: 20px 0px 50px 0px;
}

.chat-principal-conversa li p{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 100%;
  text-align: center;
  background: #ffff;
  border-radius: 20px;
}

.chat-principal-conversa li:nth-child(odd){
  justify-content: flex-end;
}

/* Aplicar css de 2 em 2 mensagens, equivalentes a resposta do usuário */
.chat-principal-conversa li:nth-child(even){
  color: green;
  justify-content: flex-start;
}

.chat-principal-conversa li:nth-child(odd) p{
  border-radius: 20px 20px 0 20px;
}

.chat-principal-conversa li:nth-child(even) p{
  border-radius: 20px 20px 20px 0px;
}


.chat-escrita{
display: flex;
justify-content: center;
width: 100%;
height: 5%;
}



#chat-principal-texto{
  background: rgb(235, 235, 235);
  border-radius: 10px 10px 10px 10px;
  font-size: 20px;
  width: 900px;
  height: 100%;
  margin: 0px 10px 0px 0px;
}
#chat-principal-texto:hover{
  background: white;
}
#chat-principal-texto:focus{
  background: white;
}

#chat-principal-button{
  border-radius: 10px;
  height: 100%;
  width: 200px;
}

.icone-usuario{
  position: absolute;
  left: 3%;
  bottom: 12%;
  height: 120px;
  width: 120px;
  background: gray ;
  border-radius: 50%;
}

.icone-assistente{
  position: absolute;
  position: absolute;
  right: 3%;
  bottom: 12%;
  height: 120px;
  width: 120px;
  background: gray ;
  border-radius: 50%;
}

