.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: span 2; /* A segunda linha tem o tamanho de 2 colunas */
  height: 3vh;
  width: 100%;
  background: rgb(245, 245, 245);
}

.footer p{
  font-size: 15px;
}